* {
    margin: 0;
    font-family: Roboto;
    /* overflow: hidden; */
    --dark-background-color: #1f2937;
    --light-color: #f9faf8;
    --darker-color: #e5e7eb;
    --call-to-action-color: #3882f6;
    scroll-behavior: smooth;

}
img{
    height: 100%;
}

body {
    background-color: var(--dark-background-color);
    width: 100%;
}
/* header stuff */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1090px;
    margin: auto;
    background-color: var(--dark-background-color);
    color: var(--light-color);
    height: 60px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none ;
    color: var(--darker-color);
}

a {
    text-decoration: none;
    color: inherit;
}

#logo-container {
    height: 60px;
}

#logo {
    height: 100%;
}

.img-container  {
    height: 230px;
}

/* home stuff */

#home {
    background-color: var(--dark-background-color);
    color: var(--light-color);
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: auto;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 100%;
    width: 100%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    color: var(--darker-color);
    font-size: 18px;
}

.dog-cat {
    height: 85%;
    width: 100vw;
    text-align: end;
}

.home-button {
    width: 95px;
    height: 30px;
    color: var(--light-color);
    background-color: var(--call-to-action-color);
    border-radius: 8px;
    font-weight: bold;
    border: none;
}

/* information section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: var(--light-color);
    font-size: 36px;
    font-weight: bold;
    color: var(--dark-background-color);
}


.information-image-container {
    height: 300px;
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-background-color);
    text-align: center;

}

.information-figure {
    height: 170px;
    width: 150px;
    border-radius: 5%;
    border: 5px solid var(--call-to-action-color);
    background-color: var(--call-to-action-color);
}

.information-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

figcaption {
    margin-top: 10px;
}

/* quote section */

.quote-section {
    height: 300px;
    width: 100%;
    background-color: var(--darker-color);
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--dark-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 60vw;
    max-width: 1150px;
    margin: auto;
    text-align: center;
}

.quote {
    margin: 0;
    display: inline-block;
}

.quote-author {
    text-align: right;
    margin: 0;
    margin-top: 30px;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

/* call section */

#call-section {
    height: 250px;
    width: 100%;
    background-color: var(--light-color);    
    display: flex;
}

.call-container {
    height: 110px;
    width: 70vw;
    max-width: 1000px;
    margin: auto;
    background-color: var(--call-to-action-color);
    display: flex;
    justify-content: space-evenly;
    border-radius: 7px;
}

.call-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-color);
}

.call-section-title {
    font-size: 25px;
    font-weight: bold;
}


.call-section-button-container {
    display: flex;
    align-items: center;
}

.call-section-button {
    height: 32px;
    width: 120px;
    border-radius: 8px;
    background-color: var(--call-to-action-color);
    border: 2px solid var(--light-color);
    color: var(--light-color);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* footer */

footer {
    height: 70px;
    color: var(--light-color);
    text-align: center;
}

.footer-text {
    margin-top: 43px;
}


/* media queries */

/* for laptop */
@media screen and (max-width: 1360px) {
    header {
        width: 90vw;
    }

    #home {
        width: 820px;
    }
}
/* for tablet */
@media screen and (max-width: 830px) {
    header {
        width: 95%;
        padding-top: 20px;
    }
    #home {
        width: 95%;
        min-width: none;
    }
    .information-image-container {
        width: 95%;
    }
}
/* smaller than tablet */
@media screen and (max-width: 682px) {
    #home {
        width: 95%;
    }
    .dog-cat {
        max-width: 280px;
    }
    .dog-cat-img {
        width: 100%;
        object-fit: cover;
    }
    .information {
        height: 600px;
        justify-content: space-evenly;
    }
    .information-image-container {
        width: 70%;
        height: 500px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .information-figure {
        width: 170px;
    }
    .quote-container {
        width: 95%;
    }
    .call-container {
        width: 90%;
    }
}

@media screen and (max-width: 558px) {
    #home {
        height: 250px;
    }
    .dog-cat {
        width: 0px;
    }
    #text {
        text-align: center;
        align-items: center;
    }
    .quote-container {
        width: 97%;
    }
    .call-container {
        width: 97%;
    }
    .call-section-subtitle {
        width: 250px;
    }
}

/* mobile L */
@media screen and (max-width: 425px) {
    header {
        padding-top: 10px;
    }
    .main-text {
        font-size: 38px;
    }
    .information-title {
        text-align: center;
        font-size: 30px;
    }
    .information-image-container {
        width: 97%;
    }
    .quote {
        font-size: 25px;
    }
    .quote-author {
        font-size: 20px;
    }
}

/* mobile M */
@media screen and (max-width: 403px) and (min-width: 320px){
    header {
        width: 97%;
        padding-top: 5px;
    }
    .quote-section {
        height: 230px;
    }
    .call-container {
        flex-direction: column;
        align-items: center;
    }
    .call-text-container {
        text-align: center;
    }
    .call-section-title {
        font-size: 20px;
    }
    .call-section-subtitle {
        font-size: 15px;
    }
}